# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Environnements virtuels
.venv/
venv/
env/

# Variables d'environnement (secrets)
.env
.env.*
!.env.example

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Front (React/Vite) — à anticiper pour la suite du projet
node_modules/
dist/
.vite/

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
