Django>=5.0,<5.1
djangorestframework>=3.15,<3.16
psycopg2-binary>=2.9,<3.0
dj-database-url>=2.2,<3.0
python-dotenv>=1.0,<2.0
whitenoise>=6.7,<7.0
django-cors-headers>=4.4,<5.0
gunicorn>=22.0,<23.0
Pillow>=10.4,<11.0
